<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>suporte.financas.centraldenotas</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>suporte.financas.centraldenotas</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-99f5d277ab92486aa79cf89219d2b99c.png" alt="suporte.financas.centraldenotas" usemap="#id-99f5d277ab92486aa79cf89219d2b99cmap"/>
			   <map name="id-99f5d277ab92486aa79cf89219d2b99cmap">
				  				<area shape="rect" coords="2014,1196,2974,1306" href="../elements/id-bc7c83cc25964656985619a94a19fb6e.html"  target="element">

				  		<area shape="rect" coords="1678,1124,3286,1378" href="../elements/id-c8e7d30d39a44e94b34de2a821bcb9ed.html"  target="element">
				  		<area shape="rect" coords="864,302,1104,412" href="../elements/id-2d6ba9d244454d7d9e96c9b7053eb67f.html"  target="element">
				  		<area shape="rect" coords="3358,572,3598,682" href="../elements/id-16fb6c5f4bba4a82b232708ca13d018a.html"  target="element">
				  		<area shape="rect" coords="3358,1196,3598,1306" href="../elements/id-1d0cec15b22844a29b6e329b473dcc03.html"  target="element">
				  		<area shape="rect" coords="1366,1196,1606,1306" href="../elements/id-ef46ae33d71948ecb4cfb0f2d75510bf.html"  target="element">
				  		<area shape="rect" coords="2326,188,2566,298" href="../elements/id-78f68cd014b64a868c5dde8f17540695.html"  target="element">
				  		<area shape="rect" coords="3358,404,3598,514" href="../elements/id-aa144f6387bb4a55954df68c70d6d68e.html"  target="element">
				  		<area shape="rect" coords="3358,716,3598,826" href="../elements/id-37e1ad39098a47a591a42403a42aab4a.html"  target="element">
				  		<area shape="rect" coords="1726,188,1966,298" href="../elements/id-4b7dad0867cf452381aaa4b59812f189.html"  target="element">
				  		<area shape="rect" coords="2014,188,2254,298" href="../elements/id-41b2ceabe57244cc850866682df0c124.html"  target="element">
				  		<area shape="rect" coords="1942,932,2182,1042" href="../elements/id-9285c559ae384478b47873ff38a6aa73.html"  target="element">
				  		<area shape="rect" coords="2888,20,3128,130" href="../elements/id-67121f3dd67e452196c1b38b5259a33e.html"  target="element">
				  		<area shape="rect" coords="2614,188,3126,298" href="../elements/id-db9f2cd02c5546609ce72a940e2eef60.html"  target="element">
				  		<area shape="rect" coords="2580,932,2820,1042" href="../elements/id-2d6ba9d244454d7d9e96c9b7053eb67f.html"  target="element">
				  		<area shape="rect" coords="2878,932,3118,1042" href="../elements/id-dac48ace877146adb943179a560cd877.html"  target="element">
				  		<area shape="rect" coords="2614,20,2854,130" href="../elements/id-7e197d9bf32b437b85cf37c728431239.html"  target="element">
				  		<area shape="rect" coords="2278,932,2518,1042" href="../elements/id-a2f6b064e005473cb3226a036544dd3c.html"  target="element">
				  						<area shape="rect" coords="1774,500,2014,754" href="../elements/id-3fbbead2b5ae480593498693f9248725.html"  target="element">
				  						<area shape="rect" coords="2134,500,2374,754" href="../elements/id-2fde8b38-3189-4165-ade8-cd4fd90e18bb.html"  target="element">
				  						<area shape="rect" coords="2544,644,3192,754" href="../elements/id-6264160c00de497fa621c39334faddb7.html"  target="element">
				  						<area shape="rect" coords="2542,500,3192,610" href="../elements/id-203e675d248c4db081aa7be0d2028608.html"  target="element">

				  				<area shape="rect" coords="1726,428,3240,814" href="../elements/id-b94c3fbdd9e74929bb580e41d77185c3.html"  target="element">

				  		<area shape="rect" coords="1678,356,3288,886" href="../elements/id-c8e7d30d39a44e94b34de2a821bcb9ed.html"  target="element">
				  				<area shape="rect" coords="1006,568,1246,678" href="../elements/id-5d2eb95532b84f1da6179b0e614c1071.html"  target="element">
				  				<area shape="rect" coords="718,568,958,678" href="../elements/id-3fbbead2b5ae480593498693f9248725.html"  target="element">

				  		<area shape="rect" coords="670,500,1296,732" href="../elements/id-cabacf64da6142bfb3f021d7eefb538b.html"  target="element">
				  		<area shape="rect" coords="1366,578,1606,688" href="../elements/id-88cdd0df860f46048e1d4be9ae2787a9.html"  target="element">
				  		<area shape="rect" coords="334,572,574,682" href="../elements/id-d453567aebf340439815e3469e5bdbbd.html"  target="element">
				  		<area shape="rect" coords="20,410,260,520" href="../elements/id-0aee5829ac644a35a39b68967ed17a98.html"  target="element">
				  		<area shape="rect" coords="22,578,262,688" href="../elements/id-44c4de6597b74e4f870eb9fef2bea28f.html"  target="element">
				  		<area shape="rect" coords="864,776,1104,886" href="../elements/id-5bedebbe3716479d9d51d09a2e06372c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">O processo da  Central de Notas come&#231;a com o evento "Nota Fiscal Emitida" pelo fornecedor. Atores (Caixas com Bonequinho):

Fornecedor: Inicia o processo emitindo a nota fiscal.
Engenheiro: Respons&#225;vel por validar a nota fiscal emitida/ realizar lan&#231;amento documento no ERP .
Aprovador: Aprova o pagamento.
Contas a Pagar: Destino final do processo para pagamento liberado.
Outro Fornecedor: Recebe a nota fiscal devolvida se houver discrep&#226;ncias.
Processos (Caixas com Setinha para a Direita):

Validar Nota Fiscal: Realizado pelo Engenheiro.
Processar Pagamento: Realizado pela Central de Notas ap&#243;s a valida&#231;&#227;o da nota fiscal.
Devolver Nota Fiscal: A&#231;&#227;o tomada se houver discrep&#226;ncias na nota fiscal.
Regra de Neg&#243;cio (Caixa Lil&#225;s):

Aprovar pagamento com pelo menos 5 dias de anteced&#234;ncia: Deve ser seguida antes do processo de pagamento ser liberado.
Fim (Caixas Vermelhas):

Pagamento Liberado: Consequ&#234;ncia de um processo de pagamento bem-sucedido.
Discrep&#226;ncia Identificada: Resulta no processo de "Resolver Discrep&#226;ncia".
Nota Fiscal Devolvida: Finaliza o processo caso a nota fiscal seja devolvida ao fornecedor.
Fluxo do Processo:

Ap&#243;s a emiss&#227;o da nota fiscal pelo fornecedor, o engenheiro a valida.
Se validada, segue para a Central de Notas, onde ser&#225; processado o pagamento.
Antes de liberar o pagamento, o aprovador deve seguir a regra de neg&#243;cio, aprovando o pagamento com pelo menos 5 dias de anteced&#234;ncia.
Uma vez processado e aprovado, o pagamento &#233; liberado e segue para Contas a Pagar.
Se durante o processamento do pagamento uma discrep&#226;ncia for identificada, a nota &#233; devolvida ao fornecedor para resolver a discrep&#226;ncia.
O fornecedor recebe a nota fiscal devolvida caso seja necess&#225;rio.
Este fluxo de processo est&#225; focado na verifica&#231;&#227;o e aprova&#231;&#227;o de notas fiscais emitidas por fornecedores antes do processamento do pagamento pela construtora, assegurando a conformidade e a antecipa&#231;&#227;o na libera&#231;&#227;o de pagamentos.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-5bedebbe3716479d9d51d09a2e06372c.html" target="element"> Documento Fiscal </a> </td>
											    <td> <a href="../elements/id-5bedebbe3716479d9d51d09a2e06372c.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-44c4de6597b74e4f870eb9fef2bea28f.html" target="element"> Fornecedor </a> </td>
											    <td> <a href="../elements/id-44c4de6597b74e4f870eb9fef2bea28f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0aee5829ac644a35a39b68967ed17a98.html" target="element"> Gest&#227;o Cadastro de Fornecedores </a> </td>
											    <td> <a href="../elements/id-0aee5829ac644a35a39b68967ed17a98.html" target="element" class="i18n-elementtype-Gap">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d453567aebf340439815e3469e5bdbbd.html" target="element"> Documento Fiscal Enviado </a> </td>
											    <td> <a href="../elements/id-d453567aebf340439815e3469e5bdbbd.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-88cdd0df860f46048e1d4be9ae2787a9.html" target="element"> Nota Fiscal Reencaminhada </a> </td>
											    <td> <a href="../elements/id-88cdd0df860f46048e1d4be9ae2787a9.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cabacf64da6142bfb3f021d7eefb538b.html" target="element"> Unidade Geradora de Obriga&#231;&#245;es </a> </td>
											    <td> <a href="../elements/id-cabacf64da6142bfb3f021d7eefb538b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-3fbbead2b5ae480593498693f9248725.html" target="element"> Receber Documento Fiscal </a> </td>
													    <td> <a href="../elements/id-3fbbead2b5ae480593498693f9248725.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5d2eb95532b84f1da6179b0e614c1071.html" target="element"> Reecaminhar Documento </a> </td>
													    <td> <a href="../elements/id-5d2eb95532b84f1da6179b0e614c1071.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-c8e7d30d39a44e94b34de2a821bcb9ed.html" target="element"> Central de Notas </a> </td>
											    <td> <a href="../elements/id-c8e7d30d39a44e94b34de2a821bcb9ed.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-b94c3fbdd9e74929bb580e41d77185c3.html" target="element"> Processar Documento Fiscal </a> </td>
													    <td> <a href="../elements/id-b94c3fbdd9e74929bb580e41d77185c3.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-203e675d248c4db081aa7be0d2028608.html" target="element"> Processar Pagamento </a> </td>
															    <td> <a href="../elements/id-203e675d248c4db081aa7be0d2028608.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-6264160c00de497fa621c39334faddb7.html" target="element"> Devolver Nota Fiscal </a> </td>
															    <td> <a href="../elements/id-6264160c00de497fa621c39334faddb7.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-2fde8b38-3189-4165-ade8-cd4fd90e18bb.html" target="element"> Validar Documento Fiscal </a> </td>
															    <td> <a href="../elements/id-2fde8b38-3189-4165-ade8-cd4fd90e18bb.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-3fbbead2b5ae480593498693f9248725.html" target="element"> Receber Documento Fiscal </a> </td>
															    <td> <a href="../elements/id-3fbbead2b5ae480593498693f9248725.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-a2f6b064e005473cb3226a036544dd3c.html" target="element"> Tempo de aprova&#231;&#227;o </a> </td>
											    <td> <a href="../elements/id-a2f6b064e005473cb3226a036544dd3c.html" target="element" class="i18n-elementtype-Gap">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7e197d9bf32b437b85cf37c728431239.html" target="element"> Pagamentos de impostos </a> </td>
											    <td> <a href="../elements/id-7e197d9bf32b437b85cf37c728431239.html" target="element" class="i18n-elementtype-Gap">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dac48ace877146adb943179a560cd877.html" target="element"> Regra de Aprova&#231;&#227;o </a> </td>
											    <td> <a href="../elements/id-dac48ace877146adb943179a560cd877.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2d6ba9d244454d7d9e96c9b7053eb67f.html" target="element"> Aprovador </a> </td>
											    <td> <a href="../elements/id-2d6ba9d244454d7d9e96c9b7053eb67f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-db9f2cd02c5546609ce72a940e2eef60.html" target="element"> Contabilidade </a> </td>
											    <td> <a href="../elements/id-db9f2cd02c5546609ce72a940e2eef60.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-67121f3dd67e452196c1b38b5259a33e.html" target="element"> Retorno Contabilidade </a> </td>
											    <td> <a href="../elements/id-67121f3dd67e452196c1b38b5259a33e.html" target="element" class="i18n-elementtype-Gap">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9285c559ae384478b47873ff38a6aa73.html" target="element"> Aus&#234;ncia de Pol&#237;ticas </a> </td>
											    <td> <a href="../elements/id-9285c559ae384478b47873ff38a6aa73.html" target="element" class="i18n-elementtype-Gap">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-41b2ceabe57244cc850866682df0c124.html" target="element"> Validador </a> </td>
											    <td> <a href="../elements/id-41b2ceabe57244cc850866682df0c124.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4b7dad0867cf452381aaa4b59812f189.html" target="element"> Entrada das Notas </a> </td>
											    <td> <a href="../elements/id-4b7dad0867cf452381aaa4b59812f189.html" target="element" class="i18n-elementtype-Gap">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-37e1ad39098a47a591a42403a42aab4a.html" target="element"> Documento Fiscal Devolvido </a> </td>
											    <td> <a href="../elements/id-37e1ad39098a47a591a42403a42aab4a.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-aa144f6387bb4a55954df68c70d6d68e.html" target="element"> Pagamento Autorizado </a> </td>
											    <td> <a href="../elements/id-aa144f6387bb4a55954df68c70d6d68e.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-78f68cd014b64a868c5dde8f17540695.html" target="element"> Regra de Valida&#231;&#227;o </a> </td>
											    <td> <a href="../elements/id-78f68cd014b64a868c5dde8f17540695.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ef46ae33d71948ecb4cfb0f2d75510bf.html" target="element"> Central de Notas Iniciar Rotina Di&#225;ria  </a> </td>
											    <td> <a href="../elements/id-ef46ae33d71948ecb4cfb0f2d75510bf.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1d0cec15b22844a29b6e329b473dcc03.html" target="element"> Central de Notas Rotina Di&#225;ria Finalizada </a> </td>
											    <td> <a href="../elements/id-1d0cec15b22844a29b6e329b473dcc03.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-16fb6c5f4bba4a82b232708ca13d018a.html" target="element"> Processo de Pagamento </a> </td>
											    <td> <a href="../elements/id-16fb6c5f4bba4a82b232708ca13d018a.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2d6ba9d244454d7d9e96c9b7053eb67f.html" target="element"> Aprovador </a> </td>
											    <td> <a href="../elements/id-2d6ba9d244454d7d9e96c9b7053eb67f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c8e7d30d39a44e94b34de2a821bcb9ed.html" target="element"> Central de Notas </a> </td>
											    <td> <a href="../elements/id-c8e7d30d39a44e94b34de2a821bcb9ed.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-bc7c83cc25964656985619a94a19fb6e.html" target="element"> Rodar Rotina Di&#225;ria Central de Notas </a> </td>
													    <td> <a href="../elements/id-bc7c83cc25964656985619a94a19fb6e.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-de87adcd9e064e71bb9ad98a2c006cf3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-de87adcd9e064e71bb9ad98a2c006cf3.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-44c4de6597b74e4f870eb9fef2bea28f.html" target="element"> Fornecedor </a> </td>
																		<td> <a href="../elements/id-5bedebbe3716479d9d51d09a2e06372c.html" target="element"> Documento Fiscal </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-81531e1aae1e451b9632bba0669e9cbd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-81531e1aae1e451b9632bba0669e9cbd.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-44c4de6597b74e4f870eb9fef2bea28f.html" target="element"> Fornecedor </a> </td>
																		<td> <a href="../elements/id-d453567aebf340439815e3469e5bdbbd.html" target="element"> Documento Fiscal Enviado </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-73377aa5f542459bb7853ed634c7b9b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-73377aa5f542459bb7853ed634c7b9b0.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0aee5829ac644a35a39b68967ed17a98.html" target="element"> Gest&#227;o Cadastro de Fornecedores </a> </td>
																		<td> <a href="../elements/id-44c4de6597b74e4f870eb9fef2bea28f.html" target="element"> Fornecedor </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-88c88006049a4785a5b4310e1869fcc5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-88c88006049a4785a5b4310e1869fcc5.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d453567aebf340439815e3469e5bdbbd.html" target="element"> Documento Fiscal Enviado </a> </td>
																		<td> <a href="../elements/id-3fbbead2b5ae480593498693f9248725.html" target="element"> Receber Documento Fiscal </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0c7dfeea19a74d2e8946c0f901d0a2cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0c7dfeea19a74d2e8946c0f901d0a2cc.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-88cdd0df860f46048e1d4be9ae2787a9.html" target="element"> Nota Fiscal Reencaminhada </a> </td>
																		<td> <a href="../elements/id-c8e7d30d39a44e94b34de2a821bcb9ed.html" target="element"> Central de Notas </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-561100749043400293320a237eae2ede.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-561100749043400293320a237eae2ede.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cabacf64da6142bfb3f021d7eefb538b.html" target="element"> Unidade Geradora de Obriga&#231;&#245;es </a> </td>
																		<td> <a href="../elements/id-3fbbead2b5ae480593498693f9248725.html" target="element"> Receber Documento Fiscal </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7b65df4ff3d544f4a067dd800cab3f53.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7b65df4ff3d544f4a067dd800cab3f53.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cabacf64da6142bfb3f021d7eefb538b.html" target="element"> Unidade Geradora de Obriga&#231;&#245;es </a> </td>
																		<td> <a href="../elements/id-5d2eb95532b84f1da6179b0e614c1071.html" target="element"> Reecaminhar Documento </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-59c660afac84451a8d8e3b6f1527b78a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-59c660afac84451a8d8e3b6f1527b78a.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cabacf64da6142bfb3f021d7eefb538b.html" target="element"> Unidade Geradora de Obriga&#231;&#245;es </a> </td>
																		<td> <a href="../elements/id-5bedebbe3716479d9d51d09a2e06372c.html" target="element"> Documento Fiscal </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ce715118ec514da9bfc9e8f815c4f8c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ce715118ec514da9bfc9e8f815c4f8c6.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cabacf64da6142bfb3f021d7eefb538b.html" target="element"> Unidade Geradora de Obriga&#231;&#245;es </a> </td>
																		<td> <a href="../elements/id-2d6ba9d244454d7d9e96c9b7053eb67f.html" target="element"> Aprovador </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-306af94c12e746718a336fc69eb59af1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-306af94c12e746718a336fc69eb59af1.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3fbbead2b5ae480593498693f9248725.html" target="element"> Receber Documento Fiscal </a> </td>
																				<td> <a href="../elements/id-5d2eb95532b84f1da6179b0e614c1071.html" target="element"> Reecaminhar Documento </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-fa8d645ceae44c7fada711a1da09881a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fa8d645ceae44c7fada711a1da09881a.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5d2eb95532b84f1da6179b0e614c1071.html" target="element"> Reecaminhar Documento </a> </td>
																				<td> <a href="../elements/id-88cdd0df860f46048e1d4be9ae2787a9.html" target="element"> Nota Fiscal Reencaminhada </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-f7a711bb9c954ac09eea6fc94039ac75.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f7a711bb9c954ac09eea6fc94039ac75.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c8e7d30d39a44e94b34de2a821bcb9ed.html" target="element"> Central de Notas </a> </td>
																		<td> <a href="../elements/id-b94c3fbdd9e74929bb580e41d77185c3.html" target="element"> Processar Documento Fiscal </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5c12f2de66344501bb77ee59ce371751.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5c12f2de66344501bb77ee59ce371751.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c8e7d30d39a44e94b34de2a821bcb9ed.html" target="element"> Central de Notas </a> </td>
																		<td> <a href="../elements/id-5bedebbe3716479d9d51d09a2e06372c.html" target="element"> Documento Fiscal </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1f0d62913dc541a5a3f27516bab172ab.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1f0d62913dc541a5a3f27516bab172ab.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c8e7d30d39a44e94b34de2a821bcb9ed.html" target="element"> Central de Notas </a> </td>
																		<td> <a href="../elements/id-41b2ceabe57244cc850866682df0c124.html" target="element"> Validador </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-28cadf493cb84c56bb9d75b4a25d5439.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-28cadf493cb84c56bb9d75b4a25d5439.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c8e7d30d39a44e94b34de2a821bcb9ed.html" target="element"> Central de Notas </a> </td>
																		<td> <a href="../elements/id-db9f2cd02c5546609ce72a940e2eef60.html" target="element"> Contabilidade </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0b0802c95c7446df99eabbbbb38fcb94.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0b0802c95c7446df99eabbbbb38fcb94.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c8e7d30d39a44e94b34de2a821bcb9ed.html" target="element"> Central de Notas </a> </td>
																		<td> <a href="../elements/id-2d6ba9d244454d7d9e96c9b7053eb67f.html" target="element"> Aprovador </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-29d19e19d5204fb8945c34239fd95d28.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29d19e19d5204fb8945c34239fd95d28.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c8e7d30d39a44e94b34de2a821bcb9ed.html" target="element"> Central de Notas </a> </td>
																		<td> <a href="../elements/id-4b7dad0867cf452381aaa4b59812f189.html" target="element"> Entrada das Notas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d46c5a3f641c446ea6bc33aa9127319b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d46c5a3f641c446ea6bc33aa9127319b.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c8e7d30d39a44e94b34de2a821bcb9ed.html" target="element"> Central de Notas </a> </td>
																		<td> <a href="../elements/id-16fb6c5f4bba4a82b232708ca13d018a.html" target="element"> Processo de Pagamento </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5e78433409b040de99633b5962eb3712.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5e78433409b040de99633b5962eb3712.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c8e7d30d39a44e94b34de2a821bcb9ed.html" target="element"> Central de Notas </a> </td>
																		<td> <a href="../elements/id-aa144f6387bb4a55954df68c70d6d68e.html" target="element"> Pagamento Autorizado </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0e4d6805a1304fcf898a66d11706e91c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0e4d6805a1304fcf898a66d11706e91c.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c8e7d30d39a44e94b34de2a821bcb9ed.html" target="element"> Central de Notas </a> </td>
																		<td> <a href="../elements/id-37e1ad39098a47a591a42403a42aab4a.html" target="element"> Documento Fiscal Devolvido </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-89e90c98d7a74d6baa99b5a36aa11bad.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-89e90c98d7a74d6baa99b5a36aa11bad.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c8e7d30d39a44e94b34de2a821bcb9ed.html" target="element"> Central de Notas </a> </td>
																		<td> <a href="../elements/id-78f68cd014b64a868c5dde8f17540695.html" target="element"> Regra de Valida&#231;&#227;o </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-86caccc400fc42a1914b2be89b16f926.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-86caccc400fc42a1914b2be89b16f926.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c8e7d30d39a44e94b34de2a821bcb9ed.html" target="element"> Central de Notas </a> </td>
																		<td> <a href="../elements/id-dac48ace877146adb943179a560cd877.html" target="element"> Regra de Aprova&#231;&#227;o </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-aec8c5174db44e81af58ec4e2b838270.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-aec8c5174db44e81af58ec4e2b838270.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b94c3fbdd9e74929bb580e41d77185c3.html" target="element"> Processar Documento Fiscal </a> </td>
																				<td> <a href="../elements/id-203e675d248c4db081aa7be0d2028608.html" target="element"> Processar Pagamento </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f2d49b93610e4599b237696097a8d763.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f2d49b93610e4599b237696097a8d763.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b94c3fbdd9e74929bb580e41d77185c3.html" target="element"> Processar Documento Fiscal </a> </td>
																				<td> <a href="../elements/id-6264160c00de497fa621c39334faddb7.html" target="element"> Devolver Nota Fiscal </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e31d998606a842d09f312ddf93a795af.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e31d998606a842d09f312ddf93a795af.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b94c3fbdd9e74929bb580e41d77185c3.html" target="element"> Processar Documento Fiscal </a> </td>
																				<td> <a href="../elements/id-2fde8b38-3189-4165-ade8-cd4fd90e18bb.html" target="element"> Validar Documento Fiscal </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-6681566e38b6427a93bc3f35650793e8.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-6681566e38b6427a93bc3f35650793e8.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-2fde8b38-3189-4165-ade8-cd4fd90e18bb.html" target="element"> Validar Documento Fiscal </a> </td>
																						<td> <a href="../elements/id-203e675d248c4db081aa7be0d2028608.html" target="element"> Processar Pagamento </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-3cb0da0fba644cd09021bd34844ff961.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-3cb0da0fba644cd09021bd34844ff961.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-2fde8b38-3189-4165-ade8-cd4fd90e18bb.html" target="element"> Validar Documento Fiscal </a> </td>
																						<td> <a href="../elements/id-6264160c00de497fa621c39334faddb7.html" target="element"> Devolver Nota Fiscal </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-df6c9e14c9f34401b0763ad90dedfe76.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-df6c9e14c9f34401b0763ad90dedfe76.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-3fbbead2b5ae480593498693f9248725.html" target="element"> Receber Documento Fiscal </a> </td>
																						<td> <a href="../elements/id-2fde8b38-3189-4165-ade8-cd4fd90e18bb.html" target="element"> Validar Documento Fiscal </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-f608a9bd5c884db8bf34558ecd40c3a4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f608a9bd5c884db8bf34558ecd40c3a4.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a2f6b064e005473cb3226a036544dd3c.html" target="element"> Tempo de aprova&#231;&#227;o </a> </td>
																		<td> <a href="../elements/id-c8e7d30d39a44e94b34de2a821bcb9ed.html" target="element"> Central de Notas </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e0d9a6de314249c292ab6a9bf7d5fd1b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e0d9a6de314249c292ab6a9bf7d5fd1b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7e197d9bf32b437b85cf37c728431239.html" target="element"> Pagamentos de impostos </a> </td>
																		<td> <a href="../elements/id-db9f2cd02c5546609ce72a940e2eef60.html" target="element"> Contabilidade </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0ea1e947bf064f13b5ffcff7f80fe699.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0ea1e947bf064f13b5ffcff7f80fe699.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-67121f3dd67e452196c1b38b5259a33e.html" target="element"> Retorno Contabilidade </a> </td>
																		<td> <a href="../elements/id-db9f2cd02c5546609ce72a940e2eef60.html" target="element"> Contabilidade </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-380bbeaed98e4d65b683ca013d35f438.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-380bbeaed98e4d65b683ca013d35f438.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9285c559ae384478b47873ff38a6aa73.html" target="element"> Aus&#234;ncia de Pol&#237;ticas </a> </td>
																		<td> <a href="../elements/id-c8e7d30d39a44e94b34de2a821bcb9ed.html" target="element"> Central de Notas </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-447f38f5d548494a9f05df8edf6727cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-447f38f5d548494a9f05df8edf6727cc.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ef46ae33d71948ecb4cfb0f2d75510bf.html" target="element"> Central de Notas Iniciar Rotina Di&#225;ria  </a> </td>
																		<td> <a href="../elements/id-c8e7d30d39a44e94b34de2a821bcb9ed.html" target="element"> Central de Notas </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b7627664c70248a5825c5e8f9eb30863.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b7627664c70248a5825c5e8f9eb30863.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c8e7d30d39a44e94b34de2a821bcb9ed.html" target="element"> Central de Notas </a> </td>
																		<td> <a href="../elements/id-bc7c83cc25964656985619a94a19fb6e.html" target="element"> Rodar Rotina Di&#225;ria Central de Notas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d9e62617c13e4a1caa704732e46c4b0f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d9e62617c13e4a1caa704732e46c4b0f.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c8e7d30d39a44e94b34de2a821bcb9ed.html" target="element"> Central de Notas </a> </td>
																		<td> <a href="../elements/id-1d0cec15b22844a29b6e329b473dcc03.html" target="element"> Central de Notas Rotina Di&#225;ria Finalizada </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>