<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>negocio.papeis</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>negocio.papeis</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-business_process_cooperation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_business_process_cooperation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-e62c615d488648028fe1fac4407bc409.png" alt="negocio.papeis" usemap="#id-e62c615d488648028fe1fac4407bc409map"/>
			   <map name="id-e62c615d488648028fe1fac4407bc409map">
				  		<area shape="rect" coords="908,1972,1148,2082" href="../elements/id-01f3ab79e7e94350ba0d12192006dc7d.html"  target="element">
				  		<area shape="rect" coords="608,1972,848,2082" href="../elements/id-97bb169c41e14c27b8837e31fcc3fac3.html"  target="element">
				  		<area shape="rect" coords="1208,1772,1448,1882" href="../elements/id-06bfda6db9374d77a543348a8a524df3.html"  target="element">
				  		<area shape="rect" coords="908,1772,1148,1882" href="../elements/id-40cc5ed0c2124bec9105346d1adf5185.html"  target="element">
				  		<area shape="rect" coords="608,1772,848,1882" href="../elements/id-2a25954029634eb69d434186ad04439e.html"  target="element">
				  		<area shape="rect" coords="1208,1572,1448,1682" href="../elements/id-a6fc625e11d6451baf42951baf8a115e.html"  target="element">
				  		<area shape="rect" coords="908,1572,1148,1682" href="../elements/id-f1057cb7658c47988c9c0150d5683cd3.html"  target="element">
				  		<area shape="rect" coords="608,1572,848,1682" href="../elements/id-4415d6e470ed4481bf22f36342bd8e13.html"  target="element">
				  		<area shape="rect" coords="1172,452,1412,562" href="../elements/id-8cc29a8757ee4d11b4ce68d55710407e.html"  target="element">
				  		<area shape="rect" coords="1172,596,1412,706" href="../elements/id-5ba8688f05274d4a8063db7e95b0d93e.html"  target="element">
				  		<area shape="rect" coords="20,740,260,850" href="../elements/id-4e3e62633dae4d3988cc02c64f4ed080.html"  target="element">
				  		<area shape="rect" coords="1172,308,1412,418" href="../elements/id-a46e7e02499845fc85a8711ac6eb639c.html"  target="element">
				  		<area shape="rect" coords="884,596,1124,706" href="../elements/id-7e8d842ce14443ce8b0f901525a9d91e.html"  target="element">
				  		<area shape="rect" coords="884,452,1124,562" href="../elements/id-3e574b4459794860bce69ae53821719e.html"  target="element">
				  		<area shape="rect" coords="308,596,548,706" href="../elements/id-d84fc5d586ad4a75ada163e8b8c036b4.html"  target="element">
				  		<area shape="rect" coords="20,596,260,706" href="../elements/id-707ed2e11179407aa49bf01dcacfcd19.html"  target="element">
				  		<area shape="rect" coords="308,452,548,562" href="../elements/id-86c194aafcbd4b35a3777b57d16ae542.html"  target="element">
				  		<area shape="rect" coords="596,452,836,562" href="../elements/id-b687be4a095a4d1cbf5a4a09bee444b6.html"  target="element">
				  		<area shape="rect" coords="20,452,260,562" href="../elements/id-ee0e4911797b40a4967790fe3e6e51b2.html"  target="element">
				  		<area shape="rect" coords="1172,164,1412,274" href="../elements/id-61cfa1411e944e7dbe89c11ddfa55d70.html"  target="element">
				  		<area shape="rect" coords="884,308,1124,418" href="../elements/id-44c4de6597b74e4f870eb9fef2bea28f.html"  target="element">
				  		<area shape="rect" coords="308,308,548,418" href="../elements/id-db9f2cd02c5546609ce72a940e2eef60.html"  target="element">
				  		<area shape="rect" coords="20,308,260,418" href="../elements/id-2d6ba9d244454d7d9e96c9b7053eb67f.html"  target="element">
				  		<area shape="rect" coords="596,308,836,418" href="../elements/id-db9f2cd02c5546609ce72a940e2eef60.html"  target="element">
				  		<area shape="rect" coords="308,164,548,274" href="../elements/id-40cc5ed0c2124bec9105346d1adf5185.html"  target="element">
				  		<area shape="rect" coords="596,164,836,274" href="../elements/id-a6fc625e11d6451baf42951baf8a115e.html"  target="element">
				  		<area shape="rect" coords="20,164,260,274" href="../elements/id-d84fc5d586ad4a75ada163e8b8c036b4.html"  target="element">
				  		<area shape="rect" coords="884,164,1124,274" href="../elements/id-97bb169c41e14c27b8837e31fcc3fac3.html"  target="element">
				  		<area shape="rect" coords="884,20,1124,130" href="../elements/id-ee0e4911797b40a4967790fe3e6e51b2.html"  target="element">
				  		<area shape="rect" coords="1172,20,1412,130" href="../elements/id-707ed2e11179407aa49bf01dcacfcd19.html"  target="element">
				  		<area shape="rect" coords="596,20,836,130" href="../elements/id-06bfda6db9374d77a543348a8a524df3.html"  target="element">
				  		<area shape="rect" coords="308,20,548,130" href="../elements/id-01f3ab79e7e94350ba0d12192006dc7d.html"  target="element">
				  		<area shape="rect" coords="20,20,260,130" href="../elements/id-b687be4a095a4d1cbf5a4a09bee444b6.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-b687be4a095a4d1cbf5a4a09bee444b6.html" target="element"> CAE </a> </td>
											    <td> <a href="../elements/id-b687be4a095a4d1cbf5a4a09bee444b6.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-01f3ab79e7e94350ba0d12192006dc7d.html" target="element"> SU </a> </td>
											    <td> <a href="../elements/id-01f3ab79e7e94350ba0d12192006dc7d.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-06bfda6db9374d77a543348a8a524df3.html" target="element"> Org&#227;o Sancionador </a> </td>
											    <td> <a href="../elements/id-06bfda6db9374d77a543348a8a524df3.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-707ed2e11179407aa49bf01dcacfcd19.html" target="element"> CB </a> </td>
											    <td> <a href="../elements/id-707ed2e11179407aa49bf01dcacfcd19.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ee0e4911797b40a4967790fe3e6e51b2.html" target="element"> C </a> </td>
											    <td> <a href="../elements/id-ee0e4911797b40a4967790fe3e6e51b2.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-97bb169c41e14c27b8837e31fcc3fac3.html" target="element"> ST </a> </td>
											    <td> <a href="../elements/id-97bb169c41e14c27b8837e31fcc3fac3.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d84fc5d586ad4a75ada163e8b8c036b4.html" target="element"> CE </a> </td>
											    <td> <a href="../elements/id-d84fc5d586ad4a75ada163e8b8c036b4.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a6fc625e11d6451baf42951baf8a115e.html" target="element"> PI </a> </td>
											    <td> <a href="../elements/id-a6fc625e11d6451baf42951baf8a115e.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-40cc5ed0c2124bec9105346d1adf5185.html" target="element"> SI </a> </td>
											    <td> <a href="../elements/id-40cc5ed0c2124bec9105346d1adf5185.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-db9f2cd02c5546609ce72a940e2eef60.html" target="element"> Contabilidade </a> </td>
											    <td> <a href="../elements/id-db9f2cd02c5546609ce72a940e2eef60.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2d6ba9d244454d7d9e96c9b7053eb67f.html" target="element"> Aprovador </a> </td>
											    <td> <a href="../elements/id-2d6ba9d244454d7d9e96c9b7053eb67f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-db9f2cd02c5546609ce72a940e2eef60.html" target="element"> Contabilidade </a> </td>
											    <td> <a href="../elements/id-db9f2cd02c5546609ce72a940e2eef60.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-44c4de6597b74e4f870eb9fef2bea28f.html" target="element"> Fornecedor </a> </td>
											    <td> <a href="../elements/id-44c4de6597b74e4f870eb9fef2bea28f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-61cfa1411e944e7dbe89c11ddfa55d70.html" target="element"> Institui&#231;&#227;o Financeira </a> </td>
											    <td> <a href="../elements/id-61cfa1411e944e7dbe89c11ddfa55d70.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ee0e4911797b40a4967790fe3e6e51b2.html" target="element"> C </a> </td>
											    <td> <a href="../elements/id-ee0e4911797b40a4967790fe3e6e51b2.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b687be4a095a4d1cbf5a4a09bee444b6.html" target="element"> CAE </a> </td>
											    <td> <a href="../elements/id-b687be4a095a4d1cbf5a4a09bee444b6.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-86c194aafcbd4b35a3777b57d16ae542.html" target="element"> Cart&#243;rio </a> </td>
											    <td> <a href="../elements/id-86c194aafcbd4b35a3777b57d16ae542.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-707ed2e11179407aa49bf01dcacfcd19.html" target="element"> CB </a> </td>
											    <td> <a href="../elements/id-707ed2e11179407aa49bf01dcacfcd19.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d84fc5d586ad4a75ada163e8b8c036b4.html" target="element"> CE </a> </td>
											    <td> <a href="../elements/id-d84fc5d586ad4a75ada163e8b8c036b4.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3e574b4459794860bce69ae53821719e.html" target="element"> Corpo de Bombeiro </a> </td>
											    <td> <a href="../elements/id-3e574b4459794860bce69ae53821719e.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7e8d842ce14443ce8b0f901525a9d91e.html" target="element"> DI </a> </td>
											    <td> <a href="../elements/id-7e8d842ce14443ce8b0f901525a9d91e.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a46e7e02499845fc85a8711ac6eb639c.html" target="element"> Estudos - Profissionais T&#233;cnicos Ambientais </a> </td>
											    <td> <a href="../elements/id-a46e7e02499845fc85a8711ac6eb639c.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4e3e62633dae4d3988cc02c64f4ed080.html" target="element"> EAR </a> </td>
											    <td> <a href="../elements/id-4e3e62633dae4d3988cc02c64f4ed080.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5ba8688f05274d4a8063db7e95b0d93e.html" target="element"> ECA </a> </td>
											    <td> <a href="../elements/id-5ba8688f05274d4a8063db7e95b0d93e.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8cc29a8757ee4d11b4ce68d55710407e.html" target="element"> Engenheiro </a> </td>
											    <td> <a href="../elements/id-8cc29a8757ee4d11b4ce68d55710407e.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4415d6e470ed4481bf22f36342bd8e13.html" target="element"> EPR </a> </td>
											    <td> <a href="../elements/id-4415d6e470ed4481bf22f36342bd8e13.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f1057cb7658c47988c9c0150d5683cd3.html" target="element"> Equipe de Projeto </a> </td>
											    <td> <a href="../elements/id-f1057cb7658c47988c9c0150d5683cd3.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a6fc625e11d6451baf42951baf8a115e.html" target="element"> PI </a> </td>
											    <td> <a href="../elements/id-a6fc625e11d6451baf42951baf8a115e.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2a25954029634eb69d434186ad04439e.html" target="element"> Projeto e Arquitetura </a> </td>
											    <td> <a href="../elements/id-2a25954029634eb69d434186ad04439e.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-40cc5ed0c2124bec9105346d1adf5185.html" target="element"> SI </a> </td>
											    <td> <a href="../elements/id-40cc5ed0c2124bec9105346d1adf5185.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-06bfda6db9374d77a543348a8a524df3.html" target="element"> Org&#227;o Sancionador </a> </td>
											    <td> <a href="../elements/id-06bfda6db9374d77a543348a8a524df3.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-97bb169c41e14c27b8837e31fcc3fac3.html" target="element"> ST </a> </td>
											    <td> <a href="../elements/id-97bb169c41e14c27b8837e31fcc3fac3.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-01f3ab79e7e94350ba0d12192006dc7d.html" target="element"> SU </a> </td>
											    <td> <a href="../elements/id-01f3ab79e7e94350ba0d12192006dc7d.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>