<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>suporte.financas.contasapagar</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>suporte.financas.contasapagar</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f83a73384eef41daa91cfe7fad609307.png" alt="suporte.financas.contasapagar" usemap="#id-f83a73384eef41daa91cfe7fad609307map"/>
			   <map name="id-f83a73384eef41daa91cfe7fad609307map">
				  						<area shape="rect" coords="1988,212,2228,322" href="../elements/id-3fd75654-4ff2-4b09-aabd-17011814279d.html"  target="element">
				  						<area shape="rect" coords="1676,212,1916,322" href="../elements/id-3d46f674-1efa-4679-9711-4c951ec80f22.html"  target="element">
				  						<area shape="rect" coords="1364,212,1604,322" href="../elements/id-087005b6-49e6-4034-b103-4551e258142f.html"  target="element">
				  						<area shape="rect" coords="1052,212,1292,322" href="../elements/id-076e0482-2051-4815-8050-790b77edc091.html"  target="element">
				  						<area shape="rect" coords="740,212,980,322" href="../elements/id-01b70093-a000-41b7-86d4-38e2a0bf2896.html"  target="element">
				  						<area shape="rect" coords="428,212,668,322" href="../elements/cec2071b-57e6-4b0f-8eb1-d0abd50f31ad.html"  target="element">

				  				<area shape="rect" coords="380,116,2278,406" href="../elements/id-974060e2e5f8486499708cb8c4082634.html"  target="element">

				  		<area shape="rect" coords="332,20,2326,484" href="../elements/id-c8c5b81363c347d1a77bd685fe3d9333.html"  target="element">
				  		<area shape="rect" coords="20,374,260,484" href="../elements/id-16fb6c5f4bba4a82b232708ca13d018a.html"  target="element">
				  				<area shape="rect" coords="1412,596,1558,694" href="../views/id-2a758aeeedce40e1bef490b2f94bde3e.html"  target="view">
				  		    <!-- Other diagram objects -->

				  		<area shape="rect" coords="1364,524,1604,718" href="../elements/id-5e22111f8fb847369b1b03db7c33f985.html"  target="element">
				  		<area shape="rect" coords="1988,524,2228,634" href="../elements/id-44c4de6597b74e4f870eb9fef2bea28f.html"  target="element">
				  		<area shape="rect" coords="20,212,260,322" href="../elements/id-9f1c064dd5bb4a06a904e87b9067ad16.html"  target="element">
				  		<area shape="rect" coords="2372,212,2612,322" href="../elements/f0b80e4a-00ee-4d7b-956c-e9250c811836.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/f0b80e4a-00ee-4d7b-956c-e9250c811836.html" target="element"> Conclus&#227;o </a> </td>
											    <td> <a href="../elements/f0b80e4a-00ee-4d7b-956c-e9250c811836.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9f1c064dd5bb4a06a904e87b9067ad16.html" target="element"> Pagamento Autorizado </a> </td>
											    <td> <a href="../elements/id-9f1c064dd5bb4a06a904e87b9067ad16.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-44c4de6597b74e4f870eb9fef2bea28f.html" target="element"> Fornecedor </a> </td>
											    <td> <a href="../elements/id-44c4de6597b74e4f870eb9fef2bea28f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5e22111f8fb847369b1b03db7c33f985.html" target="element"> Tesouraria </a> </td>
											    <td> <a href="../elements/id-5e22111f8fb847369b1b03db7c33f985.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../views/id-2a758aeeedce40e1bef490b2f94bde3e.html" target="view"> suporte.financas.contabilidade.financeira.tesouraria </a> </td>
													    <td> <a href="../views/id-2a758aeeedce40e1bef490b2f94bde3e.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
											<tr>
											    <td> <a href="../elements/id-16fb6c5f4bba4a82b232708ca13d018a.html" target="element"> Processo de Pagamento </a> </td>
											    <td> <a href="../elements/id-16fb6c5f4bba4a82b232708ca13d018a.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c8c5b81363c347d1a77bd685fe3d9333.html" target="element"> Contas a Pagar </a> </td>
											    <td> <a href="../elements/id-c8c5b81363c347d1a77bd685fe3d9333.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-974060e2e5f8486499708cb8c4082634.html" target="element"> Gerenciar Contas a Pagar </a> </td>
													    <td> <a href="../elements/id-974060e2e5f8486499708cb8c4082634.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/cec2071b-57e6-4b0f-8eb1-d0abd50f31ad.html" target="element"> Recep&#231;&#227;o de Notas </a> </td>
															    <td> <a href="../elements/cec2071b-57e6-4b0f-8eb1-d0abd50f31ad.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-01b70093-a000-41b7-86d4-38e2a0bf2896.html" target="element"> An&#225;lise de Detalhes Financeiros </a> </td>
															    <td> <a href="../elements/id-01b70093-a000-41b7-86d4-38e2a0bf2896.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-076e0482-2051-4815-8050-790b77edc091.html" target="element"> Verifica&#231;&#227;o e Autoriza&#231;&#227;o Final </a> </td>
															    <td> <a href="../elements/id-076e0482-2051-4815-8050-790b77edc091.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-087005b6-49e6-4034-b103-4551e258142f.html" target="element"> Execu&#231;&#227;o do Pagamento </a> </td>
															    <td> <a href="../elements/id-087005b6-49e6-4034-b103-4551e258142f.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-3d46f674-1efa-4679-9711-4c951ec80f22.html" target="element"> Registro e Arquivamento </a> </td>
															    <td> <a href="../elements/id-3d46f674-1efa-4679-9711-4c951ec80f22.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-3fd75654-4ff2-4b09-aabd-17011814279d.html" target="element"> Comunica&#231;&#227;o com o Fornecedor </a> </td>
															    <td> <a href="../elements/id-3fd75654-4ff2-4b09-aabd-17011814279d.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-4385019f96b74de8a7861bf61effd66b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4385019f96b74de8a7861bf61effd66b.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9f1c064dd5bb4a06a904e87b9067ad16.html" target="element"> Pagamento Autorizado </a> </td>
																		<td> <a href="../elements/cec2071b-57e6-4b0f-8eb1-d0abd50f31ad.html" target="element"> Recep&#231;&#227;o de Notas </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
																	<tr>
																		<td> <a href="../elements/id-302a629a4aef4fc7bff965fe1d4ff5b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-302a629a4aef4fc7bff965fe1d4ff5b7.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-16fb6c5f4bba4a82b232708ca13d018a.html" target="element"> Processo de Pagamento </a> </td>
																		<td> <a href="../elements/id-9f1c064dd5bb4a06a904e87b9067ad16.html" target="element"> Pagamento Autorizado </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b80eed2ea5c24e73908eeca39b2c8adf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b80eed2ea5c24e73908eeca39b2c8adf.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c8c5b81363c347d1a77bd685fe3d9333.html" target="element"> Contas a Pagar </a> </td>
																		<td> <a href="../elements/id-974060e2e5f8486499708cb8c4082634.html" target="element"> Gerenciar Contas a Pagar </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-15fbc9a533d84e8aa0fdbb0465abee7e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-15fbc9a533d84e8aa0fdbb0465abee7e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-974060e2e5f8486499708cb8c4082634.html" target="element"> Gerenciar Contas a Pagar </a> </td>
																				<td> <a href="../elements/cec2071b-57e6-4b0f-8eb1-d0abd50f31ad.html" target="element"> Recep&#231;&#227;o de Notas </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-923d899f61874126b6d2a633d6e705db.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-923d899f61874126b6d2a633d6e705db.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-974060e2e5f8486499708cb8c4082634.html" target="element"> Gerenciar Contas a Pagar </a> </td>
																				<td> <a href="../elements/id-01b70093-a000-41b7-86d4-38e2a0bf2896.html" target="element"> An&#225;lise de Detalhes Financeiros </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9357ceed2e9a47c6abd33c6d6d049d37.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9357ceed2e9a47c6abd33c6d6d049d37.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-974060e2e5f8486499708cb8c4082634.html" target="element"> Gerenciar Contas a Pagar </a> </td>
																				<td> <a href="../elements/id-076e0482-2051-4815-8050-790b77edc091.html" target="element"> Verifica&#231;&#227;o e Autoriza&#231;&#227;o Final </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-fbde235795b741ed926e48ba788a5441.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fbde235795b741ed926e48ba788a5441.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-974060e2e5f8486499708cb8c4082634.html" target="element"> Gerenciar Contas a Pagar </a> </td>
																				<td> <a href="../elements/id-087005b6-49e6-4034-b103-4551e258142f.html" target="element"> Execu&#231;&#227;o do Pagamento </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5d79b5edc47b4203a17872176e6de4f9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5d79b5edc47b4203a17872176e6de4f9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-974060e2e5f8486499708cb8c4082634.html" target="element"> Gerenciar Contas a Pagar </a> </td>
																				<td> <a href="../elements/id-3d46f674-1efa-4679-9711-4c951ec80f22.html" target="element"> Registro e Arquivamento </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-98cd60bccbe540328f6be95d890e1103.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-98cd60bccbe540328f6be95d890e1103.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-974060e2e5f8486499708cb8c4082634.html" target="element"> Gerenciar Contas a Pagar </a> </td>
																				<td> <a href="../elements/id-3fd75654-4ff2-4b09-aabd-17011814279d.html" target="element"> Comunica&#231;&#227;o com o Fornecedor </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-e40fd4a26c874ea1a8cb7bb058e9ad96.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-e40fd4a26c874ea1a8cb7bb058e9ad96.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/cec2071b-57e6-4b0f-8eb1-d0abd50f31ad.html" target="element"> Recep&#231;&#227;o de Notas </a> </td>
																						<td> <a href="../elements/id-01b70093-a000-41b7-86d4-38e2a0bf2896.html" target="element"> An&#225;lise de Detalhes Financeiros </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-9c1a1014a4c94915bd0c5e09b6916400.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-9c1a1014a4c94915bd0c5e09b6916400.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-01b70093-a000-41b7-86d4-38e2a0bf2896.html" target="element"> An&#225;lise de Detalhes Financeiros </a> </td>
																						<td> <a href="../elements/id-076e0482-2051-4815-8050-790b77edc091.html" target="element"> Verifica&#231;&#227;o e Autoriza&#231;&#227;o Final </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-424568889e1440a8b4d2acc96f6518b9.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-424568889e1440a8b4d2acc96f6518b9.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-076e0482-2051-4815-8050-790b77edc091.html" target="element"> Verifica&#231;&#227;o e Autoriza&#231;&#227;o Final </a> </td>
																						<td> <a href="../elements/id-087005b6-49e6-4034-b103-4551e258142f.html" target="element"> Execu&#231;&#227;o do Pagamento </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-6108d5084b1240b0a53fa333d59ca8bf.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-6108d5084b1240b0a53fa333d59ca8bf.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-087005b6-49e6-4034-b103-4551e258142f.html" target="element"> Execu&#231;&#227;o do Pagamento </a> </td>
																						<td> <a href="../elements/id-3d46f674-1efa-4679-9711-4c951ec80f22.html" target="element"> Registro e Arquivamento </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-91c066c573e84c21a026a057505a1663.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-91c066c573e84c21a026a057505a1663.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-087005b6-49e6-4034-b103-4551e258142f.html" target="element"> Execu&#231;&#227;o do Pagamento </a> </td>
																						<td> <a href="../elements/id-5e22111f8fb847369b1b03db7c33f985.html" target="element"> Tesouraria </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-85d7506607bc48908d973a1aa7e80f1d.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-85d7506607bc48908d973a1aa7e80f1d.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-3d46f674-1efa-4679-9711-4c951ec80f22.html" target="element"> Registro e Arquivamento </a> </td>
																						<td> <a href="../elements/id-3fd75654-4ff2-4b09-aabd-17011814279d.html" target="element"> Comunica&#231;&#227;o com o Fornecedor </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-585b24560ca84a15be09d07124aae224.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-585b24560ca84a15be09d07124aae224.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-3fd75654-4ff2-4b09-aabd-17011814279d.html" target="element"> Comunica&#231;&#227;o com o Fornecedor </a> </td>
																						<td> <a href="../elements/f0b80e4a-00ee-4d7b-956c-e9250c811836.html" target="element"> Conclus&#227;o </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-fd4f4ac3e855469191c83b002a17ac06.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-fd4f4ac3e855469191c83b002a17ac06.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-3fd75654-4ff2-4b09-aabd-17011814279d.html" target="element"> Comunica&#231;&#227;o com o Fornecedor </a> </td>
																						<td> <a href="../elements/id-44c4de6597b74e4f870eb9fef2bea28f.html" target="element"> Fornecedor </a> </td>
																					</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>