<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>suporte.ti.infraestrutura</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>suporte.ti.infraestrutura</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-capability"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_capability" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f52969dc81a54207992cea4233faad74.png" alt="suporte.ti.infraestrutura" usemap="#id-f52969dc81a54207992cea4233faad74map"/>
			   <map name="id-f52969dc81a54207992cea4233faad74map">
				  						<area shape="rect" coords="1844,836,2254,910" href="../elements/id-b668e5d778744b75a5a272c17313ac69.html"  target="element">
				  						<area shape="rect" coords="1844,740,2254,814" href="../elements/id-4c54e1c91fe44866994db18dd6984b0a.html"  target="element">
				  						<area shape="rect" coords="1844,644,2254,718" href="../elements/id-88b91f041c9b4b1f8e45e7fccdebfeb5.html"  target="element">
				  						<area shape="rect" coords="1844,548,2254,622" href="../elements/id-45258777a0f241dfa0fde699c666bbba.html"  target="element">
				  						<area shape="rect" coords="1844,452,2254,526" href="../elements/id-3b8d3ea9642b4a80a24cb01aea51c25f.html"  target="element">
				  						<area shape="rect" coords="1844,356,2254,430" href="../elements/id-8db7e6f8558c4c568e6bf1f350a7d91f.html"  target="element">
				  						<area shape="rect" coords="1844,260,2254,334" href="../elements/id-e177440901fa4b6f851514872500dd4f.html"  target="element">
				  						<area shape="rect" coords="1844,164,2254,238" href="../elements/id-40c2f773482f45e8bb9886e3fad412a4.html"  target="element">

				  				<area shape="rect" coords="1796,92,2302,958" href="../elements/id-86d0277568ec494e809f720889286453.html"  target="element">

				  		<area shape="rect" coords="1748,20,2350,1006" href="../elements/id-37d1231b015a433f9847262bf8e279f2.html"  target="element">
				  				<area shape="rect" coords="404,812,670,886" href="../elements/id-b5b8d0b1bc8042ad93ea0a86fb08816b.html"  target="element">
				  				<area shape="rect" coords="692,716,958,790" href="../elements/id-9c40472dc3c940d49c5565b696e1a9aa.html"  target="element">
				  				<area shape="rect" coords="692,908,958,982" href="../elements/id-90c48c6c10564e22b59eadab0f2f4fbd.html"  target="element">
				  				<area shape="rect" coords="404,908,670,982" href="../elements/id-cf8a6962b558448ea8bc1b76334b74c0.html"  target="element">
				  				<area shape="rect" coords="692,812,958,886" href="../elements/id-e83c8a3fb9014777aa64b7f6c38153e9.html"  target="element">
				  				<area shape="rect" coords="404,716,670,790" href="../elements/id-668227e112834b499d877b85233ecc8b.html"  target="element">

				  		<area shape="rect" coords="380,644,982,1030" href="../elements/id-9b37cbcc7bdf42b0a5da2295e4b6c69e.html"  target="element">
				  				<area shape="rect" coords="44,956,310,1054" href="../elements/id-bba678564f3b4ad19746270da22e3fa5.html"  target="element">
				  				<area shape="rect" coords="44,836,310,934" href="../elements/id-578146a94fc6494dac43c1c1178103c9.html"  target="element">
				  				<area shape="rect" coords="44,716,310,814" href="../elements/id-b9c0347f58f64e6cb9bddfd16b83c952.html"  target="element">

				  		<area shape="rect" coords="20,644,334,1102" href="../elements/id-d3a921484f5d47fab386d8c7355cebfa.html"  target="element">
				  				<area shape="rect" coords="1412,332,1678,430" href="../elements/id-ce77a705bfb044e4a6ada6276b15c620.html"  target="element">
				  				<area shape="rect" coords="1412,212,1678,310" href="../elements/id-eb07d3c6b4b5472bbc97cd94042ac9e9.html"  target="element">
				  				<area shape="rect" coords="1412,92,1678,190" href="../elements/id-33dc1c32dd1d4f1aacdde8478079e850.html"  target="element">

				  		<area shape="rect" coords="1388,20,1702,478" href="../elements/id-dd8e9649c15540f3ab637d09d25abdb2.html"  target="element">
				  				<area shape="rect" coords="1052,212,1318,310" href="../elements/id-934b19bf233a41a88e28f91e0318d6e0.html"  target="element">
				  				<area shape="rect" coords="1052,92,1318,190" href="../elements/id-968941cbb56c46aead754bacb239d24f.html"  target="element">

				  		<area shape="rect" coords="1028,20,1342,382" href="../elements/id-c8d5753586e04de0b2136f2b9861aa41.html"  target="element">
				  						<area shape="rect" coords="548,260,910,334" href="../elements/id-9b8dfc391044446aa698ac0ca01ba312.html"  target="element">
				  						<area shape="rect" coords="548,452,910,526" href="../elements/id-bc51ce2037ae4c8781ef5d27bec49014.html"  target="element">
				  						<area shape="rect" coords="548,356,910,430" href="../elements/id-6ef7bd90f3f1451cbb5cacb36658a14c.html"  target="element">
				  						<area shape="rect" coords="548,164,910,238" href="../elements/id-b587820bcca34df2a52821358e106b03.html"  target="element">

				  				<area shape="rect" coords="524,92,934,550" href="../elements/id-5931171ad0b84047a226f22966abcc4e.html"  target="element">
				  						<area shape="rect" coords="92,356,454,430" href="../elements/id-eb7663956e854cf4b05f0fc1c7b3b164.html"  target="element">
				  						<area shape="rect" coords="92,260,454,334" href="../elements/id-a94263a4a8904d498e1a03e3bbc33ea2.html"  target="element">
				  						<area shape="rect" coords="92,164,454,238" href="../elements/id-35fe19899bc8499da4f05347416c618c.html"  target="element">

				  				<area shape="rect" coords="68,92,478,478" href="../elements/id-bac2927b55ca46eb822c7dd33a1bb34a.html"  target="element">

				  		<area shape="rect" coords="20,20,982,598" href="../elements/id-f2fea17dde7f4b559d2ad201b01f9793.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-f2fea17dde7f4b559d2ad201b01f9793.html" target="element"> Infraestrutura de Seguran&#231;a </a> </td>
											    <td> <a href="../elements/id-f2fea17dde7f4b559d2ad201b01f9793.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-bac2927b55ca46eb822c7dd33a1bb34a.html" target="element"> Gest&#227;o de Identidade </a> </td>
													    <td> <a href="../elements/id-bac2927b55ca46eb822c7dd33a1bb34a.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-35fe19899bc8499da4f05347416c618c.html" target="element"> Acesso </a> </td>
															    <td> <a href="../elements/id-35fe19899bc8499da4f05347416c618c.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-a94263a4a8904d498e1a03e3bbc33ea2.html" target="element"> Autoriza&#231;&#227;o </a> </td>
															    <td> <a href="../elements/id-a94263a4a8904d498e1a03e3bbc33ea2.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-eb7663956e854cf4b05f0fc1c7b3b164.html" target="element"> Autoridade de Certifica&#231;&#227;o </a> </td>
															    <td> <a href="../elements/id-eb7663956e854cf4b05f0fc1c7b3b164.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-5931171ad0b84047a226f22966abcc4e.html" target="element"> Detec&#231;&#227;o e Prote&#231;&#227;o </a> </td>
													    <td> <a href="../elements/id-5931171ad0b84047a226f22966abcc4e.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-b587820bcca34df2a52821358e106b03.html" target="element"> Firewall </a> </td>
															    <td> <a href="../elements/id-b587820bcca34df2a52821358e106b03.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-6ef7bd90f3f1451cbb5cacb36658a14c.html" target="element"> Detec&#231;&#227;o de Intrus&#227;o </a> </td>
															    <td> <a href="../elements/id-6ef7bd90f3f1451cbb5cacb36658a14c.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-bc51ce2037ae4c8781ef5d27bec49014.html" target="element"> Verifica&#231;&#227;o de V&#237;rus e Conte&#250;do </a> </td>
															    <td> <a href="../elements/id-bc51ce2037ae4c8781ef5d27bec49014.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-9b8dfc391044446aa698ac0ca01ba312.html" target="element"> Proxy </a> </td>
															    <td> <a href="../elements/id-9b8dfc391044446aa698ac0ca01ba312.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-c8d5753586e04de0b2136f2b9861aa41.html" target="element"> Identifica&#231;&#227;o </a> </td>
											    <td> <a href="../elements/id-c8d5753586e04de0b2136f2b9861aa41.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-968941cbb56c46aead754bacb239d24f.html" target="element"> Diret&#243;rio </a> </td>
													    <td> <a href="../elements/id-968941cbb56c46aead754bacb239d24f.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-934b19bf233a41a88e28f91e0318d6e0.html" target="element"> Nomenclatura e Localiza&#231;&#227;o </a> </td>
													    <td> <a href="../elements/id-934b19bf233a41a88e28f91e0318d6e0.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-dd8e9649c15540f3ab637d09d25abdb2.html" target="element"> Sa&#237;da </a> </td>
											    <td> <a href="../elements/id-dd8e9649c15540f3ab637d09d25abdb2.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-33dc1c32dd1d4f1aacdde8478079e850.html" target="element"> Impress&#227;o </a> </td>
													    <td> <a href="../elements/id-33dc1c32dd1d4f1aacdde8478079e850.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-eb07d3c6b4b5472bbc97cd94042ac9e9.html" target="element"> Armazenamento de Arquivos </a> </td>
													    <td> <a href="../elements/id-eb07d3c6b4b5472bbc97cd94042ac9e9.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ce77a705bfb044e4a6ada6276b15c620.html" target="element"> Transfer&#234;ncia de Arquivos </a> </td>
													    <td> <a href="../elements/id-ce77a705bfb044e4a6ada6276b15c620.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-d3a921484f5d47fab386d8c7355cebfa.html" target="element"> Disponibilidade </a> </td>
											    <td> <a href="../elements/id-d3a921484f5d47fab386d8c7355cebfa.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-b9c0347f58f64e6cb9bddfd16b83c952.html" target="element"> Balanceamento de Carga </a> </td>
													    <td> <a href="../elements/id-b9c0347f58f64e6cb9bddfd16b83c952.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-578146a94fc6494dac43c1c1178103c9.html" target="element"> Caching </a> </td>
													    <td> <a href="../elements/id-578146a94fc6494dac43c1c1178103c9.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bba678564f3b4ad19746270da22e3fa5.html" target="element"> Toler&#226;ncia a Falhas </a> </td>
													    <td> <a href="../elements/id-bba678564f3b4ad19746270da22e3fa5.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-9b37cbcc7bdf42b0a5da2295e4b6c69e.html" target="element"> Servi&#231;os de Conectividade </a> </td>
											    <td> <a href="../elements/id-9b37cbcc7bdf42b0a5da2295e4b6c69e.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-668227e112834b499d877b85233ecc8b.html" target="element"> Gerenciamento de Acesso Discado </a> </td>
													    <td> <a href="../elements/id-668227e112834b499d877b85233ecc8b.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e83c8a3fb9014777aa64b7f6c38153e9.html" target="element"> LAN (Local Area Network) </a> </td>
													    <td> <a href="../elements/id-e83c8a3fb9014777aa64b7f6c38153e9.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cf8a6962b558448ea8bc1b76334b74c0.html" target="element"> WAN </a> </td>
													    <td> <a href="../elements/id-cf8a6962b558448ea8bc1b76334b74c0.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-90c48c6c10564e22b59eadab0f2f4fbd.html" target="element"> Conectividade sem fio </a> </td>
													    <td> <a href="../elements/id-90c48c6c10564e22b59eadab0f2f4fbd.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9c40472dc3c940d49c5565b696e1a9aa.html" target="element"> Acesso M&#243;vel </a> </td>
													    <td> <a href="../elements/id-9c40472dc3c940d49c5565b696e1a9aa.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b5b8d0b1bc8042ad93ea0a86fb08816b.html" target="element"> Voz </a> </td>
													    <td> <a href="../elements/id-b5b8d0b1bc8042ad93ea0a86fb08816b.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-37d1231b015a433f9847262bf8e279f2.html" target="element"> Infraestrutura de Dados </a> </td>
											    <td> <a href="../elements/id-37d1231b015a433f9847262bf8e279f2.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-86d0277568ec494e809f720889286453.html" target="element"> Armazenamento de Dados </a> </td>
													    <td> <a href="../elements/id-86d0277568ec494e809f720889286453.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-40c2f773482f45e8bb9886e3fad412a4.html" target="element"> Armazenamento em Nuvem </a> </td>
															    <td> <a href="../elements/id-40c2f773482f45e8bb9886e3fad412a4.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-e177440901fa4b6f851514872500dd4f.html" target="element"> Armazenamento de Curto Prazo </a> </td>
															    <td> <a href="../elements/id-e177440901fa4b6f851514872500dd4f.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-8db7e6f8558c4c568e6bf1f350a7d91f.html" target="element"> Armazenamento Offline </a> </td>
															    <td> <a href="../elements/id-8db7e6f8558c4c568e6bf1f350a7d91f.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-3b8d3ea9642b4a80a24cb01aea51c25f.html" target="element"> Armazenamento Local </a> </td>
															    <td> <a href="../elements/id-3b8d3ea9642b4a80a24cb01aea51c25f.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-45258777a0f241dfa0fde699c666bbba.html" target="element"> Armazenamento Local </a> </td>
															    <td> <a href="../elements/id-45258777a0f241dfa0fde699c666bbba.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-88b91f041c9b4b1f8e45e7fccdebfeb5.html" target="element"> Removable Storage </a> </td>
															    <td> <a href="../elements/id-88b91f041c9b4b1f8e45e7fccdebfeb5.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-4c54e1c91fe44866994db18dd6984b0a.html" target="element"> Recupera&#231;&#227;o de Dados </a> </td>
															    <td> <a href="../elements/id-4c54e1c91fe44866994db18dd6984b0a.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-b668e5d778744b75a5a272c17313ac69.html" target="element"> Replica&#231;&#227;o de Dados </a> </td>
															    <td> <a href="../elements/id-b668e5d778744b75a5a272c17313ac69.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-8f94b4df6e034eab9caa61ed014c1a98.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8f94b4df6e034eab9caa61ed014c1a98.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f2fea17dde7f4b559d2ad201b01f9793.html" target="element"> Infraestrutura de Seguran&#231;a </a> </td>
																		<td> <a href="../elements/id-bac2927b55ca46eb822c7dd33a1bb34a.html" target="element"> Gest&#227;o de Identidade </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e669e8619a244380a3d862a686ce75d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e669e8619a244380a3d862a686ce75d6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f2fea17dde7f4b559d2ad201b01f9793.html" target="element"> Infraestrutura de Seguran&#231;a </a> </td>
																		<td> <a href="../elements/id-5931171ad0b84047a226f22966abcc4e.html" target="element"> Detec&#231;&#227;o e Prote&#231;&#227;o </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-a5d91865f353446980d26e0b53eaf9ee.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a5d91865f353446980d26e0b53eaf9ee.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bac2927b55ca46eb822c7dd33a1bb34a.html" target="element"> Gest&#227;o de Identidade </a> </td>
																				<td> <a href="../elements/id-35fe19899bc8499da4f05347416c618c.html" target="element"> Acesso </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0e948dbc45ed4673a489ba02f424b7f4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0e948dbc45ed4673a489ba02f424b7f4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bac2927b55ca46eb822c7dd33a1bb34a.html" target="element"> Gest&#227;o de Identidade </a> </td>
																				<td> <a href="../elements/id-a94263a4a8904d498e1a03e3bbc33ea2.html" target="element"> Autoriza&#231;&#227;o </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-77a2484c149a457a97e8f373c63d6fe8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-77a2484c149a457a97e8f373c63d6fe8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bac2927b55ca46eb822c7dd33a1bb34a.html" target="element"> Gest&#227;o de Identidade </a> </td>
																				<td> <a href="../elements/id-eb7663956e854cf4b05f0fc1c7b3b164.html" target="element"> Autoridade de Certifica&#231;&#227;o </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-a6551883767244f1a275ea96555b7e79.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a6551883767244f1a275ea96555b7e79.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5931171ad0b84047a226f22966abcc4e.html" target="element"> Detec&#231;&#227;o e Prote&#231;&#227;o </a> </td>
																				<td> <a href="../elements/id-b587820bcca34df2a52821358e106b03.html" target="element"> Firewall </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-39a9c1c3aa564e249c7121ae765ae205.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-39a9c1c3aa564e249c7121ae765ae205.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5931171ad0b84047a226f22966abcc4e.html" target="element"> Detec&#231;&#227;o e Prote&#231;&#227;o </a> </td>
																				<td> <a href="../elements/id-6ef7bd90f3f1451cbb5cacb36658a14c.html" target="element"> Detec&#231;&#227;o de Intrus&#227;o </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-cbe316d69ab94453b5c59ac001797654.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cbe316d69ab94453b5c59ac001797654.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5931171ad0b84047a226f22966abcc4e.html" target="element"> Detec&#231;&#227;o e Prote&#231;&#227;o </a> </td>
																				<td> <a href="../elements/id-bc51ce2037ae4c8781ef5d27bec49014.html" target="element"> Verifica&#231;&#227;o de V&#237;rus e Conte&#250;do </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1d2d415c53e245eea95ef3dc0e27a263.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1d2d415c53e245eea95ef3dc0e27a263.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5931171ad0b84047a226f22966abcc4e.html" target="element"> Detec&#231;&#227;o e Prote&#231;&#227;o </a> </td>
																				<td> <a href="../elements/id-9b8dfc391044446aa698ac0ca01ba312.html" target="element"> Proxy </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-2402b5c42ca241bf95063dcd6a162a91.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2402b5c42ca241bf95063dcd6a162a91.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c8d5753586e04de0b2136f2b9861aa41.html" target="element"> Identifica&#231;&#227;o </a> </td>
																		<td> <a href="../elements/id-968941cbb56c46aead754bacb239d24f.html" target="element"> Diret&#243;rio </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-942258d3519649d3b3a2fe00d1915242.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-942258d3519649d3b3a2fe00d1915242.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c8d5753586e04de0b2136f2b9861aa41.html" target="element"> Identifica&#231;&#227;o </a> </td>
																		<td> <a href="../elements/id-934b19bf233a41a88e28f91e0318d6e0.html" target="element"> Nomenclatura e Localiza&#231;&#227;o </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-97f0bdb67fc54bb3af4d75bbc4712fd9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-97f0bdb67fc54bb3af4d75bbc4712fd9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd8e9649c15540f3ab637d09d25abdb2.html" target="element"> Sa&#237;da </a> </td>
																		<td> <a href="../elements/id-eb07d3c6b4b5472bbc97cd94042ac9e9.html" target="element"> Armazenamento de Arquivos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7f4775fe7d2a4b188fe7cb8093151330.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7f4775fe7d2a4b188fe7cb8093151330.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd8e9649c15540f3ab637d09d25abdb2.html" target="element"> Sa&#237;da </a> </td>
																		<td> <a href="../elements/id-ce77a705bfb044e4a6ada6276b15c620.html" target="element"> Transfer&#234;ncia de Arquivos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-19d054e7d30b4d6499f4b0f3de309574.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-19d054e7d30b4d6499f4b0f3de309574.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd8e9649c15540f3ab637d09d25abdb2.html" target="element"> Sa&#237;da </a> </td>
																		<td> <a href="../elements/id-33dc1c32dd1d4f1aacdde8478079e850.html" target="element"> Impress&#227;o </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-6dac03cebb014371a0d9106ab3567676.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6dac03cebb014371a0d9106ab3567676.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d3a921484f5d47fab386d8c7355cebfa.html" target="element"> Disponibilidade </a> </td>
																		<td> <a href="../elements/id-bba678564f3b4ad19746270da22e3fa5.html" target="element"> Toler&#226;ncia a Falhas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-96f7dc5f1dcf4788a5489d49d95f635c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-96f7dc5f1dcf4788a5489d49d95f635c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d3a921484f5d47fab386d8c7355cebfa.html" target="element"> Disponibilidade </a> </td>
																		<td> <a href="../elements/id-b9c0347f58f64e6cb9bddfd16b83c952.html" target="element"> Balanceamento de Carga </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7344c12d0e8544a9b7a2952c9f4e3aee.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7344c12d0e8544a9b7a2952c9f4e3aee.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d3a921484f5d47fab386d8c7355cebfa.html" target="element"> Disponibilidade </a> </td>
																		<td> <a href="../elements/id-578146a94fc6494dac43c1c1178103c9.html" target="element"> Caching </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-060e84786da9408d8bd836dd11811bf0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-060e84786da9408d8bd836dd11811bf0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9b37cbcc7bdf42b0a5da2295e4b6c69e.html" target="element"> Servi&#231;os de Conectividade </a> </td>
																		<td> <a href="../elements/id-b5b8d0b1bc8042ad93ea0a86fb08816b.html" target="element"> Voz </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-611fd67102d647d284dd1366212a5050.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-611fd67102d647d284dd1366212a5050.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9b37cbcc7bdf42b0a5da2295e4b6c69e.html" target="element"> Servi&#231;os de Conectividade </a> </td>
																		<td> <a href="../elements/id-e83c8a3fb9014777aa64b7f6c38153e9.html" target="element"> LAN (Local Area Network) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d4e93edc400f4b2082d44f1435880c70.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d4e93edc400f4b2082d44f1435880c70.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9b37cbcc7bdf42b0a5da2295e4b6c69e.html" target="element"> Servi&#231;os de Conectividade </a> </td>
																		<td> <a href="../elements/id-90c48c6c10564e22b59eadab0f2f4fbd.html" target="element"> Conectividade sem fio </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-769c8afdc0e34660a6521ce076df3d83.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-769c8afdc0e34660a6521ce076df3d83.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9b37cbcc7bdf42b0a5da2295e4b6c69e.html" target="element"> Servi&#231;os de Conectividade </a> </td>
																		<td> <a href="../elements/id-9c40472dc3c940d49c5565b696e1a9aa.html" target="element"> Acesso M&#243;vel </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-63e2a21b6ac3483fb15be875274e6555.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-63e2a21b6ac3483fb15be875274e6555.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9b37cbcc7bdf42b0a5da2295e4b6c69e.html" target="element"> Servi&#231;os de Conectividade </a> </td>
																		<td> <a href="../elements/id-668227e112834b499d877b85233ecc8b.html" target="element"> Gerenciamento de Acesso Discado </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ba7e469cab11467f91dae1a0d4793ff8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ba7e469cab11467f91dae1a0d4793ff8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9b37cbcc7bdf42b0a5da2295e4b6c69e.html" target="element"> Servi&#231;os de Conectividade </a> </td>
																		<td> <a href="../elements/id-cf8a6962b558448ea8bc1b76334b74c0.html" target="element"> WAN </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-ea6783f1120b4fb195f976bc549281ff.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ea6783f1120b4fb195f976bc549281ff.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-37d1231b015a433f9847262bf8e279f2.html" target="element"> Infraestrutura de Dados </a> </td>
																		<td> <a href="../elements/id-86d0277568ec494e809f720889286453.html" target="element"> Armazenamento de Dados </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-a8cad85783844934b4940f310c5bdfe3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a8cad85783844934b4940f310c5bdfe3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-86d0277568ec494e809f720889286453.html" target="element"> Armazenamento de Dados </a> </td>
																				<td> <a href="../elements/id-88b91f041c9b4b1f8e45e7fccdebfeb5.html" target="element"> Removable Storage </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-91c71f4dc56a40e494c95dd08d3b9896.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-91c71f4dc56a40e494c95dd08d3b9896.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-86d0277568ec494e809f720889286453.html" target="element"> Armazenamento de Dados </a> </td>
																				<td> <a href="../elements/id-3b8d3ea9642b4a80a24cb01aea51c25f.html" target="element"> Armazenamento Local </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9e2c366e239249e48ecd614409b03c52.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9e2c366e239249e48ecd614409b03c52.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-86d0277568ec494e809f720889286453.html" target="element"> Armazenamento de Dados </a> </td>
																				<td> <a href="../elements/id-b668e5d778744b75a5a272c17313ac69.html" target="element"> Replica&#231;&#227;o de Dados </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-70b684aba67a4d57b6a591300d942e50.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-70b684aba67a4d57b6a591300d942e50.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-86d0277568ec494e809f720889286453.html" target="element"> Armazenamento de Dados </a> </td>
																				<td> <a href="../elements/id-4c54e1c91fe44866994db18dd6984b0a.html" target="element"> Recupera&#231;&#227;o de Dados </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-575e3722457a4a9ab038b20bea79e8e0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-575e3722457a4a9ab038b20bea79e8e0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-86d0277568ec494e809f720889286453.html" target="element"> Armazenamento de Dados </a> </td>
																				<td> <a href="../elements/id-e177440901fa4b6f851514872500dd4f.html" target="element"> Armazenamento de Curto Prazo </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-883df7a92d604dc2af281a2728c5a815.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-883df7a92d604dc2af281a2728c5a815.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-86d0277568ec494e809f720889286453.html" target="element"> Armazenamento de Dados </a> </td>
																				<td> <a href="../elements/id-40c2f773482f45e8bb9886e3fad412a4.html" target="element"> Armazenamento em Nuvem </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ac544a31670d429ca1e3db8cd79dc1e3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ac544a31670d429ca1e3db8cd79dc1e3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-86d0277568ec494e809f720889286453.html" target="element"> Armazenamento de Dados </a> </td>
																				<td> <a href="../elements/id-8db7e6f8558c4c568e6bf1f350a7d91f.html" target="element"> Armazenamento Offline </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6c863dbc628a42ba86bae9b5b1cf0d39.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6c863dbc628a42ba86bae9b5b1cf0d39.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-86d0277568ec494e809f720889286453.html" target="element"> Armazenamento de Dados </a> </td>
																				<td> <a href="../elements/id-45258777a0f241dfa0fde699c666bbba.html" target="element"> Armazenamento Local </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>